html, body {
  height: 100%;
}
body {
  /* margin: 0; */
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  background-attachment: fixed;
}

input {
    padding: 5px;
    box-sizing:border-box;
    border: none;
    border-bottom: 2px solid #2573ba;
}
input:focus {
  outline: none;
}

.min-100 {
    min-height: 100%;
}

button {
  margin: 10px;
}

#bootstrap-overrides .long-white {
  padding-top: 2em;
  padding-left: 3em;
  padding-right: 3em;
  height: 100%;
  min-height: 95vh;
  background-color: white;
}

#bootstrap-overrides .main-container {
  /* min-height: 100%;
  height: 100%; */
  margin: 0;
}

#infobox {
  margin: 60px auto 0;
  width: 60%;
  padding: 2rem 1rem;
  height: 220px;
  border-radius: 5px;
  background: rgba(255,255,255,0.5);
}
.schowaj {
    display: none;
}

/* Dropdown Button */
.dropbtn {
  height:100% !important;
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #007bff!important;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #67bdff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
background-color: #229dff !important;
color: #cbe9ff !important;
text-decoration: none !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: transparent;}
