{% extends 'base.html' %}

{% block title %}Logowanie{% endblock %}

{% block content %}

<div class="row">
  <div class="pt-10 col-sm-4 long-white">
    <h2>Zaloguj się:</h2>
    <form class="form-group" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary float-right">Zaloguj</button>
    </form>

    <br><br>

    <h3>Nie masz konta? </h3>
    <p>Stwórz konto:</p>
    <a href="{% url 'signup' %}">Zarejestruj się</a>
  </div>
  <div class="col-sm-8">
    <div id="infobox">
      <h1>underPressure</h1>
      <p class="lead">pomaga pacjentom cierpiącym na cukrzycę</p>
      <a class="btn btn-lg btn-primary float-right" href="/about" role="button">Dowiedz się więcej »</a>
    </div>
  </div>

{% endblock %}
