{% extends 'base.html' %}

{% block title %} O aplikacji {% endblock %}

{% block content %}
<div class="mx-5 long-white">
<h1><a id="underPressure_0"></a>underPressure</h1>
<p>underPressure to narzędzie umożliwiające osobom chorym na cukrzycę śledzenie swojego stanu zdrowia w łatwy sposób.<br>
Stworzone jako aplikacja webowa jest dostępne z każdego miejsca na świecie, gdzie tylko jest dostęp do Internetu, bez konieczności instalacji.</p>
<h2><a id="Co_oferuje_underPressure_4"></a>Co oferuje underPressure</h2>
<p>underPressure pozwala na śledzenie historii swoich pomiarów w kategoriach:</p>
<ul>
<li>ciśnienie skurczowe/rozkurczowe</li>
<li>puls</li>
<li>poziom cukru</li>
<li>waga (+BMI)</li>
</ul>
<h2><a id="Technologie_uyte_w_underPressure_11"></a>Technologie użyte w underPressure</h2>
<p>underPressure zbudowane jest w oparciu o <a href="https://www.python.org/">Pythona</a>  w wersji 3.7 oraz <a href="https://www.djangoproject.com/">Django</a> w wersji 1.9.<br>
Po stronie front-endowej (interfejs użytkownika) underPressure wykorzystano framework <a href="https://getbootstrap.com/">Bootstrap v4</a> oraz bibliotekę <a href="https://www.chartjs.org/">chartJS</a> w wersji 2.0.</p>
<h2><a id="Instalacja_rodowiska_15"></a>Instalacja środowiska</h2>
<p>Dopóki underPressure jest w fazie rozwoju, w celu skorzystania z narzędzia należy zainstalować środowisko deweloperskie.</p>
<p>Pierwszym krokiem jest sklonowanie repozytorium z Bitbucketa do wybranego miejsca na dysku:</p>
<pre><code class="language-sh">git <span class="hljs-built_in">clone</span> https://babiracka@bitbucket.org/cukierberg/under-pressure.git
</code></pre>
<p>Następnie, w tym samym miejscu należy uruchomić środowisko wirtualne.</p>
<pre><code class="language-sh">python3 -m venv myvenv
<span class="hljs-built_in">source</span> myvenv/bin/activate
</code></pre>
<p>Kolejnym krokiem jest instalacja managera pakietów Pythona <code>pip</code> oraz <code>django</code> w uruchomionym środowisku.</p>
<pre><code class="language-sh">python3 -m pip install --upgrade pip
python3 -m pip install django
</code></pre>
<p>Gdy wszystko zostało poprawnie zainstalowane, pozostało wykonanie migracji oraz uruchomienie serwera django.</p>
<pre><code class="language-sh">python manage.py makemigrations
python manage.py migrate
python manage.py runserver
</code></pre>
<p>Jeśli nie wystąpiły żadne błędy, projekt można już uruchomić pod adresem lokalnym <code>127.0.0.1:8000</code>.</p>
<h2><a id="Instrukcja_uycia_40"></a>Instrukcja użycia</h2>
<p>Po otwarciu adresu użytkownikowi pokazuje się strona umożliwiająca zalogowanie oraz rejestrację (konieczną do korzystania z underPressure).<br>
Po zalogowaniu użytkownik trafia na stronę domową. W pasku nawigacji znajdują się odnośniki:</p>
<ul>
<li>Dodaj pomiar (dodawanie nowych pomiarów)</li>
<li>Pomiary (wykresy już dodanych pomiarów):
<ul>
<li>ciśnienie</li>
<li>puls</li>
<li>poziom cukru</li>
<li>waga</li>
</ul>
</li>
<li>[nazwa użytkownika] będąca odnośnikiem do widoku profilu</li>
<li>wyloguj</li>
</ul>
<p>Aby zobaczyć wykresy pomiarów, należy mieć dodany co najmniej jeden pomiar z wybranej kategorii.<br>
W celu dodania pomiaru należy wejść w zakładkę “Dodaj pomiar” i wypełnić formularz.<br>
Wykresy wagi są dostępne po uzupełnieniu wzrostu w profilu (koniecznego do wyliczenia BMI).</p>
</div>
{% endblock %}
