<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../../static/main.css?version=3">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title>{% block title %}Under Pressure App{% endblock %}</title>

  </head>

    {% block navigation %}
    <body id="bootstrap-overrides">
    <nav class=" nav navbar navbar-expand-md navbar-dark bg-primary">
      <a class="navbar-brand" href="/">underPressure</a>
      {% if user.is_authenticated %}
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li id="aaa" class="nav-item">
            <a class="nav-link" href="/pomiary/nowy"><i class="fa fa-plus"></i> Dodaj Pomiar</a>
          </li>
          <li class="nav-item  dropdown">
            <a class="nav-link dropbtn" href="/pomiary"><i class="fa fa-bar-chart"></i> Pomiary</a>
            <div class="dropdown-content">
              <a href="/pomiary/cisnienie">Ciśnienie</a>
              <a href="/pomiary/puls">Puls</a>
              <a href="/pomiary/cukier">Poziom cukru</a>
              <a href="/pomiary/waga">Waga</a>
            </div>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="/profile"><i class="fa fa-user"></i> {{ user.username }}</a>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Wyloguj</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
    {% endblock %}
    <script>
    var a = "{{user.is_authenticated}}";
    // y = document.getElementsByClassName("main");
    if (a==="True"){
      $(".schowaj").show();
      // y.addClass("zalogowany");
    }else{
      $(".schowaj").hide()
      // y.addClass("niezalogowany");
    }
    </script>

    <main role="main" class="container-fluid">
        {% block content %}
        {% endblock %}
    </main>
  </body>
</html>
