{% extends 'base.html' %}

{% block title %}UnderPressure - monitoruj swoje zdrowie!{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="mx-5 long-white">
  <h1>Siema {{ user.username }}! </h1>
  <p class="opis">
    Tutaj powstaje aplikacja do monitorowania zdrowia.
    Poczekaj jeszcze chwilę, a będziesz mógł korzystać z róznych jej możliwości:
  <ul>
    <li>dodawanie różnych parametrów (takich jak ciśnienie, poziom cukru</li>
    <li>obejrzenie wykresów z Twoimi pomiarami</li>
    <li>wydrukowanie Twoich dotychczasowych pomiarów</li>
    <li>i wiele innych...</li>

  </ul>
  </p>
</div>
{% else %}
<div class="row">
  <div class="pt-10 col-sm-4 long-white">
    <p>Nie jesteś zalogowany!</p>
    <a href="{% url 'login' %}">Zaloguj się</a>
      <p>Stwórz konto:</p>
    <a href="{% url 'signup' %}">Zarejestruj się</a>
  </div>
  <div class="col-sm-8">
    <div id="infobox">
      <h1>underPressure</h1>
      <p class="lead">pomaga pacjentom cierpiącym na cukrzycę</p>
      <a class="btn btn-lg btn-primary float-right" href="/about" role="button">Dowiedz się więcej »</a>
    </div>
  </div>
{% endif %}
{% endblock %}
