{% extends 'base.html' %}

{% block title %}UnderPressure - dodaj nowy pomiar!{% endblock %}

{% block content %}
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type='text/javascript'>

    $(document).ready(function() {
     var endpoint = 'data/cukier';
     var wyniki = [];
     var data_pomiaru = [];
     $.ajax({
     method: "GET",
     url: endpoint,
     success: function(data) {
        wyniki = data.wyniki.map(Number)
        data_pomiaru = data.data_pomiaru

        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: data_pomiaru,
                datasets: [{
                    label: "Poziom cukru",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: wyniki,
                    showLine: true,
				    fill: false,
                }]
            },

            // Configuration options go here
            options: {
                 title: {
						display: true,
						text: 'Pomiar cukru'
					},
				showLine: false,
				fill: false,
				}
        })
        }
     });
     });
</script>
<div class="mx-5 long-white">
<div class="container">
    <p>
    <h3>Twoje pomiary poziomu cukru</h3>
    Pomiary poziomu cukru są bardzo istotne zwłaszcza w przypadku osób chorych na
    cukrzycę. Pozwalają one na monitorowanie swojego stanu zdrowia i odpowiednią
    reakcję, gdy poziom ten przekroczy granice normy.<br>
    Poziom cukru we krwi u zdrowego, dorosłego człowieka powinien być w przedziale:
    <br>60-90mg/dl
    </p>
</div>

<br>

<div class="container">
    {% if lista|length < 1 %}
        Nie dodałeś jeszcze pomiarów cukru.
    {% else %}
        <canvas id="myChart"></canvas>
    <h5>Twoje dotychczasowe pomiary poziomu cukru:</h5>
        {% for pomiar in lista %}
            {{pomiar.data_pomiaru}} {{pomiar.wartosc}}mg/dl
            <br>
        {% endfor %}
    {% endif %}
</div>
</div>
{% endblock %}
