{% extends 'base.html' %}

{% block title %}UnderPressure - dodaj nowy pomiar!{% endblock %}

{% block content %}
<div class="mx-5 long-white">
<div class="container">
    <h3>Twoje pomiary</h3>
    <p>
        Tutaj możesz obejrzeć swoje dotychczasowe pomiary, które dodałeś do bazy danych.
    </p>
    <p><a href="cisnienie">Pomiary ciśnienia</a></p>
    <p><a href="puls">Pomiary pulsu</a></p>
    <p><a href="cukier">Pomiary poziomu cukru</a></p>
    <p><a href="waga">Pomiary wagi</a></p>

    <br>
    <h6>Możesz też dodać <a href="nowy">nowy pomiar</a></h6>
</div>
<br>
</div>


{% endblock %}
