{% extends 'base.html' %}

{% block title %}UnderPressure - dodaj nowy pomiar!{% endblock %}


{% block content %}
<div class="mx-5 long-white">
<div class="container">
    <p>
        <h3>Twoje pomiary pulsu</h3>
        Puls (inaczej tętno) to ruch naczyń krwionośnych zależny od skurczów serca
        i elestyczności ścian tętnicy. Zazwyczaj pomiar pulsu jest wykonywany poczas
        badania ciśnienia tętniczego. Podczas pomiaru zwraca się uwagę zwłaszcza
        na częstotliwość pulsu (u dorosłych powinna ona wynosić ok. 70/min) oraz
        na jego miarowość.
    </p>
</div>

<br>

<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type='text/javascript'>

    $(document).ready(function() {
     var endpoint = 'data/puls';
     var wyniki = [];
     var data_pomiaru = [];
     $.ajax({
     method: "GET",
     url: endpoint,
     success: function(data) {
        wyniki = data.wyniki.map(Number)
        data_pomiaru = data.data_pomiaru

        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: data_pomiaru,
                datasets: [{
                    label: "Puls",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: wyniki,
                    showLine: true,
				    fill: false,
                }]
            },

            // Configuration options go here
            options: {
                 title: {
						display: true,
						text: 'Pomiar pulsu'
					},
				showLine: false,
				fill: false,
				}
        })
        }
     });
     });
</script>

<div class="container">
    {% if lista|length < 1 %}
        Nie dodałeś jeszcze pomiarów pulsu.
    {% else %}
        <canvas id="myChart"></canvas>
        <br>
        <h5>Twoje dotychczasowe pomiary pulsu:</h5>
        {% for pomiar in lista %}
            {{pomiar.data_pomiaru}} {{pomiar.wartosc}}/min
            <br>
        {% endfor %}
    {% endif %}
</div>
</div>


{% endblock %}
