{% extends 'base.html' %}

{% block title %}UnderPressure - dodaj nowy pomiar!{% endblock %}

{% block content %}
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type='text/javascript'>

    $(document).ready(function() {
     var endpoint = 'data/cisnienie';
     var wyniki_sku = [];
     var data_pomiaru_sku = [];
     var wyniki_roz = [];
     var data_pomiaru_roz = [];
     $.ajax({
     method: "GET",
     url: endpoint,
     success: function(data) {
        wyniki_sku = data.wyniki_sku.map(Number)
        data_pomiaru_sku = data.data_pomiaru_sku
        wyniki_roz = data.wyniki_roz.map(Number)
        data_pomiaru_roz = data.data_pomiaru_roz

        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: data_pomiaru_sku,
                datasets: [{

                    label: "Ciśnienie skurczowe",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: wyniki_sku,
                    showLine: true,
				    fill: false,
                },
                {
                    label: "Ciśnienie rozskurczowe",
                    backgroundColor: 'rgb(40, 99, 132)',
                    borderColor: 'rgb(40, 99, 132)',
                    data: wyniki_roz,
                    showLine: true,
				    fill: false,
                },]
            },

            // Configuration options go here
            options: {
                 title: {
						display: true,
						text: 'Pomiar ciśnienie'
					},
				showLine: false,
				fill: false,
				}
        })
        }
     });
     });
</script>
<div class="mx-5 long-white">
  <div class="container">
      <p>
      <h3>Twoje pomiary ciśnienia</h3>
      Ciśnienie tętnicze to ciśnienie wywierane przez krew na ścianki największych tętnic.
      Najczęściej mierzy się je na tętnicy w raminiu. Systematyczne pomiary ciśnienia krwi
      są jedną z podstawowych metod kontrolowania stanu zaawansowania choroby osób
      cierpiących na nadciśnienie tętnicze, jak również inne choroby układu krążenia.
      Dla dorosłej osoby, prawidłowe ciśnienie wynosi średnio:
      <ul>
          <li>120 mmHg - ciśnienie skurczowe</li>
          <li>80 mmHg - ciśnienie rozkurczowe</li>
      </ul>
      </p>
  </div>

  <br>

  <div class="container">
      {% if lista|length < 1 %}
          Nie dodałeś jeszcze pomiarów ciśnienia.
      {% else %}
           <canvas id="myChart"></canvas>
      <h5>Twoje dotychczasowe pomiary ciśnienia:</h5><br>
          {% for pomiar in lista %}
              {{pomiar.data_pomiaru}} {{pomiar.wartosc}}mmHg; {{pomiar.kod_pomiaru}}
              <br>
          {% endfor %}
      {% endif %}
  </div>
</div>
{% endblock %}
