{% extends 'base.html' %}

{% block title %}UnderPressure - dodaj nowy pomiar!{% endblock %}

{% block content %}
<div class="mx-5 long-white">
<div class="container">
    <h3>Dodawanie nowych pomiarów</h3>
    <p>
        Czy w ostatnim czasie dokonałeś jakiegoś nowego pomiaru? Zapisz go tutaj! <br>
        Możesz zapisać swoje ciśnienie, puls, poziom cukru czy wagę. <br>
        Data pomiaru automatycznie jest ustawiona na aktualny czas,
        ale jeżeli chcesz możesz to zmienić i zapisać pomiary, które wykonałeś godzinę,
        kilka dni czy nawet rok temu ;)
    </p>
</div>

<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-sm-6">
            <div class="pomiar_type">
              <h4>Ciśnienie:</h4>
              <p>{{ form.skurczowe }} / {{ form.rozkurczowe }}mmHg</p>
              <p>data pomiaru: {{ form.data_cis}}</p>
            </div>
            <div class="pomiar_type">
              <h4>Puls:</h4>
              <p>{{ form.puls }}/min</p>
              <p> data pomiaru: {{ form.data_puls }}</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="pomiar_type">
              <h4>Poziom cukru:</h4>
              <p>{{ form.cukier }} mg/dl</p>
              <p> data pomiaru: {{ form.data_cukier }}</p>
            </div>
            <div class="pomiar_type">
              <h4>Waga:</h4>
              <p>{{ form.waga }} kg</p>
              <p>data pomiaru: {{ form.data_waga }}</p>
            </div>
          </div>
        </div>
         <button type="submit" class="btn btn-primary float-right">Dodaj pomiary</button>
    </form>
</div>
<div>
{% endblock %}
