{% extends 'base.html' %}

{% block title %}UnderPressure - dodaj nowy pomiar!{% endblock %}

{% block content %}
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type='text/javascript'>

    $(document).ready(function() {
     var endpoint = 'data/waga';
     var wyniki = [];
     var data_pomiaru = [];
     $.ajax({
     method: "GET",
     url: endpoint,
     success: function(data) {
        wyniki = data.wyniki.map(Number)
        data_pomiaru = data.data_pomiaru

        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: data_pomiaru,
                datasets: [{
                    label: "Waga",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: wyniki,
                    showLine: true,
				    fill: false,
                }]
            },

            // Configuration options go here
            options: {
                 title: {
						display: true,
						text: 'Pomiar wagi'
					},
				showLine: false,
				fill: false,
				}
        })
        }
     });
     });
</script>
<div class="mx-5 long-white">
<div class="container">
    <h3>Twoje pomiary wagi</h3>
</div>

<div class ="container">
    BMI (ang. Body Mass Index) to współczynnik masy ciała,
    dzięki któremu w łatwy sposób można oszacować czy waga jest prawidłowa
    dla danego wzrostu lub czy osoba ma niedowagę lub nadwagę. <br>
    Według podstawowej klasywfikacji:
    <ul>
        <li>BMI < 18,5  -  niedowaga</li>
        <li>BMI 18,5-25,0  -  prawidłowa waga</li>
        <li>BMI >25,0  -  nadwaga </li>
    </ul>
    {% if lista|length < 1 %}
        Nie dodałeś pomiarów wagi. Nie możemyh policzyć BMI.
    {% else %}
        {{ wiadomosc }}
    {% endif %}
</div>

<br>

<div class="container">
    {% if lista|length < 1 %}
        Nie dodałeś jeszcze pomiarów wagi.
    {% else %}
        <canvas id="myChart"></canvas>
    <h5>Twoje dotychczasowe pomiary wagi:</h5><br>
        {% for pomiar in lista %}
            {{pomiar.data_pomiaru}} {{pomiar.wartosc}}kg
            <br>
        {% endfor %}
    {% endif %}
</div>
</div>
{% endblock %}
