{% extends 'base.html' %}

{% block title %} UnderPressure - Edycja profilu {% endblock %}

{% block content %}
<div class="mx-5 long-white">
<br>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group row">
            <label for="{{ field.name }}" class="col-2 col-form-label">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
    </form>
</div>
<hr>
<div class="container">
    <a href="/profile/password">Zmień hasło</a> lub <a href="/profile">wróć do przeglądania profilu</a>.
</div>
<br>
</div>
{% endblock %}
