{% extends 'base.html' %}

{% block title %}UnderPressure - Profil{% endblock %}

{% block content %}
<div class="mx-5 long-white">
    <h4> Cześć {{ user }}!</h4>
    <h5>Oto Twoje dane:</h5>
    <p>
        Imię: {{ user.first_name }}<br>
        Nazwisko: {{ user.last_name }}<br>
        E-mail: {{ user.email }}<br>

        Wiek:  {% if not info.wiek == None %} {{info.wiek}} {% endif %}<br>
        Wzrost: {% if not info.wzrost == None %} {{info.wzrost}} {% endif %}<br>
    </p>
    <p>
        Dodaj kilka informacji o sobie, żebyśmy mogli powiedzieć Ci nieco więcej <br>
        o Tobie i Twoich wynikach.
    </p>
    <p>Coś się zmieniło? Zawsze możesz <a href="edit">edytować swój profil</a></p>
</div>
{% endblock %}
