{% extends 'base.html' %}

{% block title %}Zarejestruj się:{% endblock %}

{% block content %}
<div class="row">
  <div class="pt-10 col-sm-4 long-white">
    <h2>Zarejestruj się:</h2>
    <form class="form-group" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="float-right btn btn-primary">Zarejestruj</button>
    </form>
    <br><br>
    <h3>Posiadasz już konto? </h3>
    <p>Zaloguj się:</p>
    <a href="{% url 'login' %}">Zaloguj</a>
  </div>
  <div class="col-sm-8">
    <div id="infobox">
      <h1>underPressure</h1>
      <p class="lead">pomaga pacjentom cierpiącym na cukrzycę</p>
      <a class="btn btn-lg btn-primary float-right" href="/about" role="button">Dowiedz się więcej »</a>
    </div>
  </div>
</div>
{% endblock %}
