{% extends 'base.html' %}

{% block title %} UnderPressure - Edycja profilu {% endblock %}

{% block content %}
<br>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
    </form>
</div>
<br>
{% endblock %}
